In [2]:
import pandas as pd

In [3]:
!head products.xlsx

'head' is not recognized as an internal or external command,
operable program or batch file.

The read_excel method

In [4]:
df = pd.read_excel('products.xlsx')

The most common parameters are as follows:
- filepath, sheet_name, header, index_col, names, skiprows, na_values, dtype, parse_dates, date_parser, nrows, skip_footer, squeeze, thousands

In [5]:
df.head()

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In most cases we have to tell pandas how we want our data to be loaded.

First row behavior with header parameter

In [6]:
pd.read_excel('products.xlsx').head()

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [7]:
pd.read_excel('products.xlsx', header=None).head()

,0,1,2,3,4
0,product_id,price,merchant_id,brand,name
1,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
2,AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
3,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
4,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

Adding index to our data using index_col
In case there is a column that you feel would serve as a better index, you can override the default behavior by setting index_col property to a column

In [8]:
df = pd.read_excel('products.xlsx', index_col=[0])

In [9]:
df.head()

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

Selecting specific sheets
Excel files have often multiple sheets and the ability to read a specific sheet or all of them is very important.With argument sheet_name tells pandas which sheet to read in the data from.
For that we can use sheet name or sheet number. Sheet number start with zero.

In [10]:
products = pd.read_excel('products.xlsx', sheet_name='Products', index_col='product_id')

In [11]:
products.head()

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [12]:
merchants = pd.read_excel('products.xlsx', sheet_name='Merchants', index_col='merchant_id')

In [13]:
merchants.head()

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com

The ExcelFile class for parsing tabular Excel sheets into DataFrame objects

In [14]:
excel_file = pd.ExcelFile('products.xlsx')

In [15]:
excel_file

In [16]:
excel_file.sheet_names

['Products', 'Descriptions', 'Merchants']

And parse specified sheet(s) into a Pandas DataFrame using ExcelFile's parse() method.

In [17]:
products = excel_file.parse('Products')

In [18]:
products.head()

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

This parse() method has all parameters we saw before on read_excel() method

In [19]:
products = excel_file.parse('Merchants', index_col='merchant_id')

In [20]:
products.head()

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com

In [21]:
products.dtypes

merchant    object
dtype: object

In [22]:
merchants = excel_file.parse('Merchants', index_col='merchant_id')

In [23]:
merchants.head()

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com

In [24]:
merchants.dtypes

merchant    object
dtype: object

Save to Excel file

In [25]:
products.head()

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com

In [27]:
products.to_excel('out.xlsx')

In [32]:
pd.read_excel('out.xlsx').head()

   merchant_id          merchant
0         1001       Bestbuy.com
1         1002       Walmart.com
2         1003       Bestbuy.com
3         1004          Growkart
4         1005  bhphotovideo.com

In [33]:
products.to_excel('out.xlsx', sheet_name='Products')

In [34]:
products.to_excel('out.xlsx', index=None)

In [35]:
pd.read_excel('out.xlsx').head()

           merchant
0       Bestbuy.com
1       Walmart.com
2       Bestbuy.com
3          Growkart
4  bhphotovideo.com

Positioning Data with startrow and startcol
Suppose we want to insert the our data into spreadsheet file in a position somewhere other than the top left corner.

In [37]:
products.to_excel('out.xlsx', sheet_name='Products', startrow=1, startcol=2)

Saving multiple sheets
Create ExcelWriter object. When it is executed any existing file with the same name as the output file will be overwritten

In [45]:
writer = pd.ExcelWriter('out.xlsx')

In [46]:
writer

Instaed of including the file pathname int the to_excel call, we will use the ExcelWriter object writer instaed

In [47]:
with writer:
    products.to_excel(writer, sheet_name='Products')

In [48]:
pd.read_excel('out.xlsx', sheet_name='Products',).head()

   merchant_id          merchant
0         1001       Bestbuy.com
1         1002       Walmart.com
2         1003       Bestbuy.com
3         1004          Growkart
4         1005  bhphotovideo.com

In [53]:
#with writer:
    merchants.to_excel(writer, sheet_name='Merchants')

IndentationError: unexpected indent (1151966372.py, line 2)

In [50]:
pd.read_excel('out.xlsx', sheet_name='Products',).head()

   merchant_id          merchant
0         1001       Bestbuy.com
1         1002       Walmart.com
2         1003       Bestbuy.com
3         1004          Growkart
4         1005  bhphotovideo.com

In [52]:
#pd.read_excel('out.xlsx', sheet_name='Merchants',).head()

Save multiple sheets at the same time

In [54]:
with pd.ExcelWriter('out.xlsx') as writer:
    products.to_excel(writer, sheet_name='Products')
    merchants.to_excel(writer, sheet_name='Merchants')

In [55]:
pd.read_excel?